/*tipografia roboto mono*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700&display=swap');

/*tipografia roboto*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

/*Fuente Edo SZ*/
@font-face {
    font-family: 'Edo SZ';
    font-style: normal;
    font-weight: normal;
    src: local('Edo SZ'), url('../fonts/edosz.woff') format('woff');
    }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /*font-family: 'Roboto Mono', monospace; /*Roboto Mono*/
    /*font-family: 'Roboto', sans-serif; /*Roboto*/
    /*font-family: 'Edo SZ', normal; /*Edo SZ*/
    background-color: #fff;
}

/* FOOTER */

.footer__container{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('../img/footter.png');
    background-size: cover;
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
}

.footer__wrapper {
    width: 95%;
    color: #fff;
    text-align: center;
    font-family: 'Edo SZ', normal;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%);
}

.footer__title {
    font-size: 30px;
    padding-bottom: 15px;
}

.footer__navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

.footer__navbar a {
    font-size: 15px;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    padding: 10px;
}

.footer__copyright {
    margin-top: 10px;
    font-size: 14px;
}

/* FOOTER MEDIA QUERY */
@media (max-width: 420px) {
    .footer__navbar ul {
        flex-direction: column;
    }
}